@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}
:root{
    --cor01:#FFDB94;
    --cor02:#c71f13;
    --cor03:#D4F0FF;
    --cor04:#87D5FF;
    --cor05:#446B80;
    
    --font01:'Della Respira', serif;
    --font02: 'Merriweather', serif;
}

header{
    font-family: var(--font01);
    font-weight: bold;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04), var(--cor05));
    text-align: center;
    box-shadow: 1px 19px 22px 9px rgba(0, 0, 0, 0.678);
    
    
}

header>p{
    padding-bottom: 15px;
}

nav{
    background-color: #446B80;
    font-family: var(--font01);
    padding-bottom: 7px;
}

nav > a{
    color: var(--cor03);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    transition-duration: .5s;
    
}

body{
    background-color: var(--cor01);
}

main{
    background-color: white;
    max-width: 800px;
    min-width: 290px;
    margin: auto;
    font-family: var(--font02);
    box-shadow: 1px 0px 11px -2px rgba(0, 0, 0, 0.664);
    border-radius: 0px 0px 10px 10px;
}

main p{
    text-align: justify;
    text-indent: 16px;
    padding: 10px 10px;
    margin: 0px 10px 25px 10px;
    line-height: 1.8em;
}

h1,h2{
    font-family: var(--font01);
    padding: 15px 13px;
    margin-bottom: 20px;
}



h2{
    display: inline;
}
